@import "styleguide/breakpoints";

.pool-tycoon-widget {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-slate-blue) !important;
  border: solid 1px var(--dark-green-blue);
  font-size: 13px;
  height: 100%;

  strong {
    font-size: 15px;
  }

  &__title {
    font-size: 23px;
    color: var(--pale-lime);
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 0.87;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 21px;
  }

  &__data {
    margin-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  &__footer {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;

    a {
      width: 100%;
      margin-bottom: 18px;
    }
  }

  .btn-outline-secondary {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 1.6rem;
    padding: 0.5rem;
    color: var(--pale-lime);
    border-color: var(--pale-lime);
  }

  .image-container {
    img {
      max-width: 100%;
      max-height: 100px;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
