@import "styleguide/breakpoints";

.total {
  margin-bottom: 3rem;
}

.equalHeights [class*="col-"] {
  padding: 0;
}

@media (min-width: $breakpoint-md) {
  .equalHeights {
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  .equalHeights [class*="col-"] {
    float: none;
  }
}

.box {
  margin-right: 28px;

  @media (max-width: $breakpoint-md) {
    margin-right: 0;
  }

  @media (max-width: $breakpoint-md) {
    margin-bottom: 26px;
  }
}

.poolName {
  color: var(--partner-base-color);
  font-size: 32px;
  font-weight: 400;
}

.headerStats {
  display: flex;
  flex-direction: row;

  div {
    margin-right: 29px;

    @media (max-width: $breakpoint-md) {
      padding-bottom: 18px;
    }
  }

  div:last-child {
    margin-right: 0;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;

  @media (max-width: 1600px) {
    flex-direction: column;
    justify-content: flex-start;
  }

  button {
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    height: 50px;
    font-size: 18px;

    &:disabled {
      border: none;
      pointer-events: none;
    }
  }

  button:first-child {
    width: 197px;

    @media (min-width: 1600px) {
      margin-right: 1.2rem;
    }
    @media (max-width: 1600px) {
      width: auto;
    }
  }

  button:nth-child(2) {
    width: 180px;
    @media (max-width: 1600px) {
      margin-top: 15px;
      width: auto;
    }
  }
}
