@import "styleguide/breakpoints";

.summaryStats {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  background-color: var(--dark-slate-blue);
  border: solid 1px var(--light);
  padding: 1.2rem 3.3rem;
  height: auto;

  @media (max-width: $breakpoint-md) {
    padding: 12px 17px;
  }
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: var(--partner-base-color);

  @media (max-width: $breakpoint-md) {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin-bottom: 9px;
  }
}

.value {
  color: var(--light);
  font-size: 23px;
  font-weight: 600;

  @media (max-width: $breakpoint-md) {
    font-size: 15px;
  }
}
