@import "styleguide/breakpoints";

.connect-wallet-btn {
  width: 180px;
  height: 50px;
  background-color: var(--kelley-green);
  font-size: 18px;
  font-weight: 500;
  color: var(--light);
  border: 1px solid transparent;

  &:hover {
    background-color: transparent;
    color: var(--kelley-green);
    border: solid 1px var(--kelley-green);
    cursor: pointer;
  }
}

.wallet-connect {
  background-color: var(--dark-slate-blue);
  border: solid 1px var(--dark-green-blue);
  padding: 1rem;
  border-radius: 10px;
  z-index: 1100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__address-container {
    display: flex;
    align-items: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 500;
    color: "#efefef";

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__header {
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    color: var(--green);
  }

  &__list {
    display: flex;
    background-color: var(--dark-slate-blue);
    color: var(--green);
    border-radius: 20px;
    border-color: var(--green);
    border: solid 1px var(--dark-green-blue);
    margin: 5px 0;
    padding: 7px 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      color: #000;
      background-color: var(--green);
    }

    img {
      width: 40px;
      height: auto;
    }
  }
}
