@import "styleguide/breakpoints";

.closeButton {
  display: none;
  opacity: 0.3;

  @media (max-width: 1200px) {
    display: flex;
  }
}

.closeButton:hover {
  cursor: pointer;
  opacity: 1;
}

.closeButton:after {
  display: flex;
  content: "\00d7";
  color: var(--light);
  font-size: 40px;
}
