@import "styleguide/breakpoints";

.home-page {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 58px;
  flex: 1;

  @media (max-width: $breakpoint-md) {
    padding-top: 45px;
  }

  &__header {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: "#fff";

    @media (max-width: $breakpoint-md) {
      font-size: 21px;
    }
  }

  &__description {
    color: "#fff";
    font-weight: 300;
    line-height: 24px;
    font-size: 18px;
    padding-top: 19px;

    @media (max-width: $breakpoint-md) {
      font-size: 16px;
      padding-top: 26px;
    }
  }

  &__partner-logo {
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 2.3rem;

    img {
      height: 3rem;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__action {
    display: flex;
    font-size: 18px;
    margin-right: 2rem;

    @media (max-width: $breakpoint-md) {
      padding-top: 26px;
      margin-right: 0;

      a {
        width: 100%;
      }

      button {
        width: 100%;
        font-size: 16px;
        height: 40px;
        padding: 0.375rem 0.75rem;
      }
    }

    .btn-outline-secondary {
      text-transform: uppercase;
      color: var(--green);
      border-color: var(--green);
      &:hover {
        border-color: var(--green);
        background-color: var(--green);
        color: var(--dark-slate-blue);
      }
    }

    &.partner .btn-outline-secondary {
      border-color: var(--light);
      color: var(--light);

      &:hover {
        color: var(--box-no-style-dark);
        background-color: var(--light);
      }
    }
  }

  &__pools {
    display: flex;
    padding-top: 2.3rem;
    margin-bottom: 44px;
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: $breakpoint-md) {
      padding-top: 47px;
      margin-bottom: 0px;
    }

    .widget {
      padding-left: 0;
      padding-right: 15px;
      min-height: 267px;

      @media (max-width: $breakpoint-md) {
        max-width: 100%;
        padding-right: 0;
      }
    }

    .all-pools {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      border: solid 1px var(--dark-green-blue);
      &__section {
        width: 100%;
        border: solid 1px var(--dark-green-blue);
        background-color: var(--dark-slate-blue);
        margin-top: 20px;
        &__header {
          text-align: center;
          padding: 20px;
          img {
            height: 3rem;
          }
        }
      }
    }

    table {
      background-color: var(--dark-slate-blue);
      color: var(--light);
      font-size: 12px;
      margin-bottom: 0 !important;

      th {
        color: var(--greenish-grey);
        font-weight: normal;
        text-transform: uppercase;
      }

      thead th {
        vertical-align: bottom;
        border-bottom: 1px solid var(--green);
        border-top: 1px solid var(--dark-green-blue);

        &.sortable {
          cursor: pointer;
        }
      }

      thead th[aria-label$="asc"],
      thead th[aria-label$="desc"] {
        color: var(--green);
      }

      tr td {
        border-top: 1px solid var(--dark-green-blue);
        color: var(--light);
        font-size: 15px;

        &.occupied-lots__deposit,
        &.occupied-lots__burnRatePerPulse {
          color: var(--green);
        }
      }
    }
  }
}
