@import "styleguide/breakpoints";

.stakeContainer {
  background-color: var(--box-no-style-dark);
  border: solid 1px var(--partner-border-dark);
  padding: 1.2rem 1.8rem;
  margin: 0;
  position: relative;

  .header {
    display: flex;
    color: var(--light);
    margin-bottom: 1.2rem;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 20px;
      font-weight: 600;

      span {
        margin-left: 1.5rem;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
    }
  }

  .card {
    padding: 1.2rem;
    border: solid 1px var(--partner-border-dark);
    background-color: var(--dark-slate-blue);
    height: 100%;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: var(--light);

    img {
      max-width: 115px;
    }
  }

  .lots {
    margin-bottom: 1.2rem;
  }

  .lotTitle {
    font-size: 20px;
    font-weight: 600;
  }

  .tokenBalance {
    font-size: 14px;
    font-weight: 600;

    span {
      color: var(--partner-base-color);
    }
  }

  .footerStats {
    margin-top: 20px;
  }
}

.resident-withdraw-modal {
  .modal-dialog {
    max-width: 1100px;
  }
}

.invalid-feedback {
  font-size: 15px;
  font-weight: 500;
}
