@import "styleguide/breakpoints";

.pool-resident-widget {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-slate-blue) !important;
  font-size: 13px;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 21px;
  position: relative;

  @media (max-width: $breakpoint-md) {
    padding-left: 9px;
    padding-right: 9px;
  }

  strong {
    font-size: 15px;
  }

  &__title {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 16px;
    line-height: 0.87;
  }

  &__data {
    margin: 0;
    z-index: 1;

    &__left {
      padding-left: 0;
    }

    &__right {
      padding-right: 0;

      @media (max-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  &__footer {
    margin-top: auto;
    margin-right: 0;
    margin-left: 0;

    @media (max-width: $breakpoint-md) {
      margin-top: 30px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;

    @media (max-width: $breakpoint-md) {
      padding: 0;
    }

    a {
      margin-bottom: 18px;
      width: 100%;
    }
  }

  .btn-secondary {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }

  .image-container {
    img {
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 45%;
      height: auto;
      z-index: 0;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}

.tycoon-title {
  color: var(--pale-lime);
}

.tycoon-btn {
  background-color: var(--pale-lime);

  &:hover,
  &:disabled {
    background-color: "transparent" !important;
    border-color: var(--pale-lime);
    color: var(--pale-lime);
  }
}
