@import "styleguide/breakpoints";

.occupied-lots {
  margin-top: 2.5rem;

  &__title {
    button {
      @media (max-width: $breakpoint-md) {
        font-size: 15px;
      }

      font-size: 20px;
      font-weight: 500;
      color: var(--grey);
      margin-bottom: 1rem;
      background-color: transparent;
      padding: 0;
      border: none;

      &:not(:disabled) {
        &:not(.disabled) {
          &:hover,
          &:active,
          &.active,
          &:focus {
            background-color: transparent;
            color: var(--light);
            border: none;
            box-shadow: none;
          }

          &:active,
          &.active {
            &:focus {
              background-color: transparent;
              color: var(--light);
              border: none;
              box-shadow: none;
            }
            color: var(--light);
          }
        }
      }

      &:first-child {
        margin-right: 10px;

        @media (min-width: $breakpoint-md) {
          margin-right: 50px;
        }
      }

      &:nth-child(2) {
        margin-right: 10px;
        @media (min-width: $breakpoint-md) {
          margin-right: 50px;
        }
      }
    }

    strong {
      background-color: var(--partner-other-badge);
      padding: 0.2rem 0.7rem;
      color: var(--light);

      @media (max-width: $breakpoint-md) {
        font-size: 12px;
      }
    }
  }

  &__table-container {
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--dark-slate-blue);
    border: solid 0.7px var(--partner-border-dark);
    overflow-x: auto;

    table {
      color: var(--light);
      font-size: 15px;

      th {
        border: {
          top: none;
          bottom: solid 1px var(--partner-color);
        }
        color: var(--greenish-grey);
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
      }

      th,
      td {
        padding: 1rem;

        button {
          padding: 5px 10px;
        }
      }

      td {
        vertical-align: middle;
        border-top: solid 0.7px var(--partner-border-dark);
        border-bottom-width: 0px;
      }
    }
  }
}

.modal-body {
  text-align: left;
}
