.container {
  // padding-left: 45px;
  // padding-right: 45px;
  // margin: 0;
}

.poolName {
  color: var(--partner-base-color);
  font-size: 20px;
  padding-top: 21px;
  font-weight: 400;
}

.headerStats {
  padding-top: 25px;

  div {
    font-size: 13px;

    strong {
      font-size: 15px;
    }
  }

  div:last-child {
    margin-right: 0;
  }
}

.detailsContainer {
  padding-top: 30px;
}

.depositContainer {
  padding-top: 30px;
}

.myPositions {
  padding-top: 30px;
  padding-bottom: 30px;
}
