@import "styleguide/breakpoints";

.position-withdraw {
  background-color: var(--box-no-style-dark);
  border: solid 1px var(--partner-border-dark);
  padding: 1.2rem 1.8rem;
  margin: 0;

  @media (max-width: $breakpoint-md) {
    border: none;
    padding: 0;
  }

  &-header {
    display: flex;
    color: var(--light);
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 31px;
      font-weight: 600;

      @media (max-width: $breakpoint-md) {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  &__label {
    font-size: 17px;
    font-weight: 300;
    color: var(--light);
    margin-top: 1.7rem;

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
      font-weight: 400;
    }
  }

  &__value-unit {
    height: 52px;
    margin: 10px 0 0;
    padding: 14px 16px 16px 13px;
    font-size: 18px;
    color: var(--light);
    background-color: var(--dark-slate-blue) !important;

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }

    .unit {
      font-size: 14px;
      color: var(--greenish-grey);
    }
  }

  &__value {
    height: 52px;
    margin: 10px 0 0;
    padding: 14px 16px 16px 13px;
    font-size: 18px;
    color: var(--light);
    background-color: var(--dark-slate-blue);

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  &__pending-text {
    color: var(--light);
  }

  &__green {
    height: 52px;
    margin: 10px 0 0;
    padding: 14px 16px 16px 13px;
    font-size: 18px;
    background-color: var(--dark-slate-blue) !important;
    color: var(--partner-base-color);

    @media (max-width: $breakpoint-md) {
      font-size: 15px;
    }
  }

  strong {
    font-size: 25px;
    color: var(--light);
  }

  .btn-secondary {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 7px;
    padding-bottom: 9px;

    @media (max-width: $breakpoint-md) {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.withdraw-modal {
  .modal-dialog {
    max-width: 700px;
  }
}
