@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

body {
  background-color: #0e273b;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
}

html,
body,
#root,
.loading-screen {
  height: 100%;
  overflow-x: hidden;
}

.loading-screen {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

.loading-screen__logo {
  margin-bottom: 2rem;
  width: 70%;
  max-width: 250px;
}

.loading-screen__content {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}
