:root {
  --dark-green-blue: #19673d;
  --dark-slate-blue: #103147;
  --dark-slate-blue-transparent: rgba(16, 49, 71, 0.8);
  --box-no-style-dark: #0e273b;
  --green: #7de213;
  --kelley-green: #009245;
  --dark-green-transparent: rgba(125, 226, 19, 0.2);
  --yellowish-orange: #ffa20d;
  --light: #efefef;
  --greenish-grey: #acb2ab;
  --pale-lime: #b8e288;
  --grey: #8e948c;
  --blue: #1ec0f3;
  --dark-blue: #1eadee;
}
