@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");
@import "breakpoints";

html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: var(--light);
}

h1,
h2 {
  font-size: 32px;
  font-weight: 500;
  color: var(--partner-base-color);

  @media (max-width: $breakpoint-sm) {
    font-size: 34px;
  }
}

h3 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

strong {
  font-size: 20px;
  font-weight: 500;
}
