.questionMark {
  display: inline-flex;
  width: 20px;
  height: 20px;
  color: var(--kelley-green);
  border: solid 1px var(--kelley-green);
  background-color: var(--dark-slate-blue);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
