@import "~bootstrap/scss/bootstrap";
@import "./styleguide";

.Toastify__toast--success {
  background-color: #7de213;
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1254px;
  }
}

#root {
  display: flex;
  flex-direction: column;
}
