@import "styleguide/breakpoints";

.resident-withdraw {
  background-color: var(--box-no-style-dark);
  border: solid 1px var(--partner-border-dark);
  padding: 1.2rem 1.8rem;
  margin: 0;
  position: relative;

  @media (max-width: $breakpoint-md) {
    border: none;
    padding: 0;
  }

  &__left-content {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }

  &__right-content {
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }

  &-header {
    display: flex;
    color: var(--light);
    margin-bottom: 1.2rem;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $breakpoint-md) {
      display: none;
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
      color: var(--light);
      margin-bottom: 1.2rem;

      span {
        margin-left: 1.5rem;
        font-size: 15px;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
    }
  }

  &__card {
    padding: 1.2rem;
    border: solid 1px var(--partner-border-dark);
    background-color: var(--dark-slate-blue);
    height: 100%;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.2px;
    color: var(--light);

    img {
      max-width: 115px;
    }
  }

  &__lots {
    margin-bottom: 1.2rem;
  }

  &__lot-title {
    font-size: 20px;
    font-weight: 600;
  }

  &__lot-mobile-title {
    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;
    color: var(--partner-base-color);
  }

  &__label {
    margin-top: 1.7rem;

    @media (max-width: $breakpoint-md) {
      font-weight: 400;
      font-size: 15px;
    }
  }

  &__value {
    height: 52px;
    margin: 10px 0 0;
    padding: 14px 16px 16px 13px;
    font-size: 18px;
    background-color: var(--box-no-style-dark);
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      font-weight: 400;
      font-size: 15px;
    }

    &-currency {
      font-size: 14px;
      color: var(--greenish-grey);
    }

    &.highlighted {
      border: solid 1px var(--partner-base-color);
    }
  }

  .btn {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    padding-top: 7px;
    padding-bottom: 9px;

    @media (max-width: $breakpoint-md) {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.resident-withdraw-modal {
  .modal-dialog {
    max-width: 1100px;
  }
}
